@model Person


<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email: @Model.Email</p>
<p>Telephone Number: @Model.Phone</p>
<p>Submission Date: @Model.SubmissionDate.ToString("dd-MM-yyyy")</p>

<hr>